#app {
  
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body{
  
  margin: 0;
  overflow: hidden;

  text-align: center;
  font-size: 12;
  font-family: 'Times New Roman', Times, serif;
  color: #444;

}
h1{
  position: absolute;
  width: 100%;
  z-index: 1;
}
#scene-container {

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: slategrey;
}
#content p {
  font-size: 100px;
  color: white;
  
}
body {
  overflow: hidden;
  margin: 0;
}

.ui {
  position: absolute;
}

button{
  margin: 20px;
}
a {
  color:rgb(165, 135, 27);
  background: #3b230c;
  border-radius:6px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:28px;
  padding-top:12px;
  margin: 2px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 0.9; }
}

a:hover {
  background: #715340;
}

/* pop-up text */

a span {
  color:rgb(212, 120, 0);
  position:absolute;
  font-family:sans-serif;
  
  bottom:0;
  left:-25px;
  right:-25px;
  padding:10px 10px;
  z-index:-1;
  font-size:13px;
  border-radius:2px;
  background:rgba(54, 27, 27, 0.912);
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

a span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(37, 30, 16);
  position:absolute;
  bottom:-5px;
  left:40px;
}

/* text pops up when icon is in hover state */

a:hover span {
  bottom:50px;
  visibility:visible;
  opacity:1;
}

#contact {
    -webkit-animation: fadein 30s;
    animation: fadein 30s;
    display: inline-block;
    position:absolute;
    top:90%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  
}
/* font awesome icons */

a:nth-of-type(1):before {
content:'\f16d';
}
a:nth-of-type(2):before {
content:'\f025  ';
}
a:nth-of-type(3):before {
content:'\f0e0';
}
a:nth-of-type(4):before {
content:'\f167';
}
a:nth-of-type(5):before {
content:'\f09b';
}
